<!DOCTYPE html>
<html ng-app="EnerBankApp" ng-controller="mainController">
<head>

    <base href="/">
    <link href="~/js/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/js/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/css/index.css" rel="stylesheet" />

    <script src="~/js/jquery/dist/jquery.js"></script>
    <script src="~/js/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/js/angular/angular.js"></script>
    
    <script src="~/js/angular-resource/angular-resource.js"></script>
    <script src="~/js/angular-route/angular-route.js"></script>

    <script src="~/js/ui-bootstrap-tpls.js"></script>

    <script src="~/app/common/utils.js"></script>
    <script src="~/app/services/localDataService.js"></script>
    <script src="~/app/controllers/mainControllers.js"></script>
    <script src="~/app/mainApp.js"></script>

    <title>{{appName}} - versione {{version}}</title>

</head>
<body>

    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
